body {
  background-color: #e0fbfc;
  font-family: "Monserrat", sans-serif;
}

.navbar.navbar-expand-lg {
  background-color: #3d5a80;
  margin-bottom: 30px;
}

.navbar-brand {
  color: #ee6c4d;
  font-weight: bold;
  padding: 0 10px;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  color: #ee6c4d;
  font-weight: bold;
}

.middle-container {
  padding: 30px 30px;
}

h1 {
  color: #3d5a80;
  font-family: "Ubuntu" sans-serif;
  font-weight: bold;
}

.row {
  padding: 30px 0;
}

.bottom-container {
  color: #ffffff;
  background-color: #3d5a80;
  padding: 10px 0;
  text-align: center;
}



body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #FFFCFF;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color:#92a1d1;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  padding: 10px;
  margin: auto;
  display: flex;
  color: #247BA0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}

#calendarBody {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e8f4fa;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}